<% provide(:title, 'All Users') %>


  <h1>ユーザー一覧</h1>

<div class="col-md-offset-8 col-md-3">
  <%= form_with model: User.new, method: :get, local: true do |f| %>
    <div class="input-group">
    <%= f.text_field :name, value: (params[:user][:name] if params[:user]), class: "form-control" %>
    <span class="input-group-btn">
    <%= f.submit "ファイルを選択", class: "btn btn-primary" %>
    </span>
    
    </div>
    <p><%= f.submit "CSVをインポート", class: "btn btn-lg btn-primary" %></p>
  <% end %>
</div>

<div class="col-md-10 col-md-offset-1">
 <table class="table table-condensed table-hover" id="table-users">
    <% @users.each do |user| %>
        <td><%= link_to user.name, user %></td>
        <td>
          <%= link_to "削除", user, method: :delete,data: { confirm: "削除してよろしいですか？" }, class: "btn btn-primary" %>
         <tr> 
          <td><%= link_to "編集", edit_user_path(user), remote: true, class: "btn btn-primary" %></td>
         </tr> 
          <% end %>
        </td>
  </table>
