<% provide(:title, "拠点一覧") %>
<h1>拠点一覧</h1>

<div>
  <table class="table table-bordered table-striped table-condensed base-table">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th>拠点番号</th>
        <th>拠点名</th>
        <th>拠点種類</th>
      </tr>
    </thead>
    
    <tbady>
      <% @bases.each do |base| %>
        <tr>
          <td class="col-xs-1"><%= link_to "修正", edit_basis_path(base), class: "btn btn-primary" %></td>
          <td class="col-xs-1"><%= link_to "削除", basis_path(base), method: :delete,  class: "btn btn-primary" %></td>
          <td class="base-cell"><%= base.base_number %></td>
          <td class="base-cell"><%= base.base_name %></td>
          <td class="base-cell"><%= base.base_category %></td>
        </tr>
      <% end %> 
        <tr>
          <td colspan="5"><%= link_to "拠点情報追加", new_basis_path, class: "btn btn-lg btn-primary btn-base" %></td>
        </tr>
    </tbady>
  </table>
</div>
