<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <%= form_with(model: @user, url: attendances_reply_approval_info_user_path(@attendance), local: true, method: :patch) do |f| %>
      <% @user.each do |user| %>
        <h1 class="modal-title">【<%= user.name %>】からの１ヶ月分の勤怠申請</h1>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <table class="table table-bordered table-striped table-condensed overwork-table">
                <thead class="overwork-table">
                  <tr>
                    <th>月</th>
                    <th>指示者確認㊞</th>
                    <th>変更</th>
                    <th>勤怠を確認</th>
                  </tr>
                </thead>
                
                <% @attendance.each do |day| %>
                  <%= f.fields_for "attendances[]", day do |i| %>
                    <% if day.user_id == user.id && day.mark_by_finish == "申請中" %>
                      <tbody>
                        <tr>
                          <td><%= l(day.worked_on, format: :mid) if day.appl_month.present? %></td>
                          <td><%= i.select :mark_by_finish, Attendance.mark_by_finishes.keys.to_a, {}, class: "form-control" %></td>
                          <td><%= i.check_box :change_at, id: "remember_me" %></td>
                          <td><%= link_to "確認", user_path(user.id, date: day.worked_on), class: "btn btn-primary" %></td>
                        </tr>
                      </tbody>
                    <% end %>
                  <% end %>
                <% end %>
              </table>
            </div>
          </div>
        <% end %>
        <div class="center">
          <%= f.submit "変更を送信する", class: "btn btn-lg btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

















