<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1 class="modal-title">【残業申請】</h1>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
        <%= form_with(model: @attendance, url: attendances_request_overtime_user_path(@attendance), local: true, method: :patch) do |f| %>
        <table class="table table-bordered table-striped table-condensed overwork-table">
          <thead class="overwork-table">
            <tr>
              <th>日付</th>
              <th>曜日</th>
              <th>終了予定時間</th>
              <th>翌日</th>
              <th>業務処理内容</th>
              <th>指示者確認㊞</th>
            </tr>
           </thead>
           
           <tbody>
             <tr>
               <td><%= l(@attendance.worked_on, format: :short) %></td>
               <td>
                 <% if @attendance.worked_on.wday == 0 %>
                   <div class="sunday"><%= $days_of_the_week[@attendance.worked_on.wday] %></div>
                 <% elsif @attendance.worked_on.wday == 6 %>
                   <div class="saturday"><%= $days_of_the_week[@attendance.worked_on.wday] %></div>
                 <% else %>
                   <%= $days_of_the_week[@attendance.worked_on.wday] %>
                 <% end %>
               </td>
               <td><%= f.time_field :overtime_at, class: "form-control" %></td>
               <td><%= f.check_box :next_day, id: "remember_me", true, false %></td>
               <td><%= f.text_field :worked_contents, class: "form-control" %></td>
               <td><%= f.collection_select( :overtime_mark, @superior, :name, :name, {prompt: false}, {class: "form-control"} ) %></td>
             </tr>
           </tbody>
          </table>
              <div class="center">
                <%= f.submit "残業を申請する", class: "btn btn-block btn-primary" %>
              </div>
           <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

















