<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  　<h1 class="modal-title">勤怠ログ</h1>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered table-striped table-condensed overwork-table">
            <thead class="overwork-table">
              <%= form_with url: attendances_log_info_user_path, method: :get, local: true do |f| %>
                <tr>
                  <th><%= f.submit "検索",class: "btn btn-sm btn-primary" %></th>
                  <th><%= f.date_select :worked_on, { include_blank: true, 
                                                      discard_day: true,
                                                      date_separator: "-",
                                                      use_month_numbers: true,
                                                      start_year: Date.today.year,
                                                      end_year: @attendances.first.try(:worked_on).try(:year)} %>
                  </th>
                </tr>
                <tr>
                  <th>日付</th>
                  <th>変更前出社時間</th>
                  <th>変更前退社時間</th>
                  <th>変更後出社時間</th>
                  <th>変更後退社時間</th>
                  <th>指示者</th>
                </tr>
              </thead>
              <% @attendances.each do |day| %>
                <tbody>
                  <tr>
                    <% if day.finished_at.present? %> 
                      <td><%= l(day.worked_on, format: :defaults) %></td>
                      <td><%= l(day.started_at_before, format: :time) if day.started_at_before.present? %></td>
                      <td><%= l(day.finished_at_before, format: :time) if day.finished_at_before.present? %></td>
                      <td><%= l(day.started_at, format: :time) if day.started_at.present? %></td>
                      <td><%= l(day.finished_at, format: :time) if day.finished_at.present? %></td>
                      <td><%= day.confirmation_mark %></td>
                    <% end %>
                  </tr>
                </tbody>
              <% end %>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

















